<div>
  <div class="card">
    <div class="card-header main-container-header">
      <i class="fas fa-play"></i>
      <h1>Início de Separação</h1>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="code-fiscal-note">Número da nota fiscal</label>
        <input type="text" autofocus class="form-control">
      </div>
      <div class="form-group">
        <label for="separator-enterprise-code">Código do crachá</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="card-footer flex-column-align-center">
      <div class="form-group">
        <button class="btn btn-dark btn-block">Registrar</button>
      </div>
    </div>
  </div>
</div>